.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.flex-item {
    padding: 5px;
    margin: 0px 0px;
}
.jumbo-title{
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: auto;
    padding: 10px 5px;
}
.new-product-bar Button{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.place-image{
    align-items: center;
}
.products-place{
    min-height: 400px;
}
.no-product{
    text-align: center;
}
